    @if (magazineList === null || magazineList.length === 0) {
        <app-admin-header></app-admin-header>
    <main>
        <section>
            <div class="container">
                <div><label>No hay revistas nuevas</label></div>
            </div>
        </section>
    </main>
    }
    @else {
        <main class="container">
            <section class="section">
                <app-new-magazines-list [magazineList]="magazineList"></app-new-magazines-list>
            </section>
        </main>
    }