    @if (magazineList === null || magazineList.length === 0) {
    <app-admin-header></app-admin-header>
    <main class="container">
        <app-show-ad [url]="url"></app-show-ad>
        <section class="container">
            <app-global-cost-list></app-global-cost-list>
        </section>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>No hay revistas nuevas!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <app-show-ad [url]="url"></app-show-ad>
    </main>
    }
    @else {
        <main class="container" style="margin: 5%;">
            <section class="section">
                <app-show-ad [url]="url"></app-show-ad>
                <app-new-magazines-list [magazineList]="magazineList"></app-new-magazines-list>
            </section>
            <app-show-ad [url]="url"></app-show-ad>
        </main>
    }