<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" [attr.data-bs-target]="'#comment-modal-' + id.toString()" [disabled]="!commentStatus">
    Comentar
</button>      
  
  <!-- Modal -->
  <div class="modal fade" [id]="'comment-modal-' + id.toString()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Comentario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="form" (ngSubmit)="submit()">
                <label class="text-center">Ingrese el contenido del comentario</label>
                <textarea class="form-control" formControlName="comment" rows="6"></textarea>
                <button class="btn btn-primary mt-3" [disabled]="form.invalid">Comentar</button>
            </form>       
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>