<app-subscriber-header></app-subscriber-header>
<main>
    <div class="container form-control">
        <h3 class="display-7 text-primary text-center">{{magazine.tittle}}</h3>
    </div>
    <section class="container mt-4">
        
        <div class="form-control">
            <p class="d-inline-flex gap-1">
                <a>APPCO</a>
                <app-comment [id]="magazine.id" [commentStatus]="magazine.commentStatus"></app-comment>
                <app-like [commentStatus]="magazine.commentStatus" [id]="magazine.id" [isLiked]="magazine.isLiked"></app-like>
                <a class="btn-success" data-bs-toggle="collapse" rout="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ver Numeros</a>
                <a class="btn btn-success">Descargar</a>
            </p>
        </div>
        
        
    </section>
</main>
