<div class="">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/subscriber-home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Suscriptor</span>
        </a>
  
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/subscriber-home" class="nav-link" routerLinkActive="active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/subscriber-profile" routerLinkActive="active"  class="nav-link">Perfil</a></li>
            <li class="nav-item"><a routerLink="/subscriber-explorer" routerLinkActive="active" class="nav-link">Explorar</a></li>
            <li class="nav-item"><a routerLink="/#" routerLinkActive="active" class="nav-link">Cerrar Sesion</a></li>
            <li class="nav-item"><a routerLink="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a routerLink="#" class="nav-link">About</a></li>
        </ul>
    </header>
  </div>
