
<div class="d-grid gap-2 mt-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseExample'" aria-expanded="false" aria-controls="collapseExample">
        Bloquear Anuncios
      </button>
</div>
    
  <div class="collapse" [id]="'collapseExample'">
    <div class="card card-body">
        <h4 class="card-title">Precio por dia: Q: {{cost}}</h4>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <label class="text-center">Fecha</label>
            <input type="date" formControlName="date" class="form-control">
            <label class="text-center">Tiempo</label>
            <input type="number" formControlName="days" class="form-control" placeholder="Dias">
            <button class="btn btn-primary" [disabled]="form.invalid">Comprar</button>
        </form>

    </div>
  </div>