        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a routerLink="/admin-home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Administrador</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a routerLink="/admin-home" class="nav-link" routerLinkActive="active" aria-current="page">Home</a></li>
                <li class="nav-item"><a routerLink="/admin-profile" routerLinkActive="active"  class="nav-link" aria-current="page">Perfil</a></li>
                <li class="nav-item"><a routerLink="/admin-magazine" routerLinkActive="active"  class="nav-link" aria-current="page">Revistas</a></li>
                <li class="nav-item"><a routerLink="/admin-ad-status" routerLinkActive="active"  class="nav-link" aria-current="page">Anuncios</a></li>
                
                <li class="nav-item dropdown"  >
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                      Reportes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin-earning" >Reporte Ganancias</a></li>
                      <li><a class="dropdown-item" routerLink="/admin-ad-report">Anuncios Comprados</a></li>
                      <li><a class="dropdown-item" routerLink="/admin-advertiser-report">Ganancias por Anunciante</a></li>
                      <li><a class="dropdown-item" routerLink="/admin-popular-report">5 Revistas mas Populares</a></li>
                      <li><a class="dropdown-item" routerLink="/comment-magazine-report">5 Revistas mas Comentadas</a></li>
                      <li><a class="dropdown-item" routerLink="/app-effectivity-ad">Efectividad de los Anuncios</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a routerLink="/logout" routerLinkActive="active" class="nav-link" aria-current="page">Cerrar Sesion</a></li>
            </ul>
        </header>