<main class="container">
  <div class="mt-5">
    <form class="form-control" enctype="multipart/form-data">
  
      <!-- elegir el tipo de usuario --> 
        <div class="mb-3">
          <label for="userType">Tipo de Usuario</label> 
          <select class="form-select" name ="userType">
            <option value="admin">Administrador</option>
            <option value="special_user">Usuario Especial</option>
            <option value="editor">Editor</option>
            <option value="subscriber">Suscriptor</option>
          </select>
        </div>
    
         <!-- ingresar nombre de usuario -->
        <div class="mb-3">
          <label for="name">Nombre de usuario:</label> <br>
          <input type="text" class="form-control" name="userName" maxlength="45" required/>
        </div>
        
        <!-- ingresar contaseña -->
         <div class="mb-3">
          <label for="password">Contraseña</label> <br>
          <input class="form-control" name="password" type="password" required/>
         </div>
        
        <!-- ingresar gustos -->
         <div class="mb-3">
          <label for="tastes">Gustos</label>
          <textarea class="form-control" name="tastes" max="400" rows="3" ></textarea>
         </div>
       
        <!-- ingresar temsas de interes -->
        <div class="mb-3">
          <label for="topicOfInterest">Temas de Interés</label>
          <textarea  class="form-control" name="topicOfInterest" max="400" rows="3" ></textarea>
        </div>
        
        <!-- ingresar descripcion -->
         <div class="mb-3">
          <label for="description">Descripción</label>
          <textarea class="form-control"  name="description" max="400" rows="3"></textarea>
         </div>
        
        <!-- ingresar hobbies -->
         <div class="mb-3">
          <label for="hobbies">Hobbies</label>
          <textarea class="form-control" name="hobbies" max="400" rows="3"></textarea>
         </div>
        
        <!-- seleccionar foto de perfil -->
         <div class="mb-3">
          <label for="photoUpload">Seleccione una photo</label><br>
          <input class="form-control" type="file" name="photo" accept="image/png,image/jpeg"/>
         </div>
        
        <button class="btn btn-primary" Type="submit">Crear Cuenta</button>
    </form>
  </div>
</main>
