<button 
  type="button" 
  class="btn btn-success" 
  data-bs-toggle="modal" 
  data-bs-target="#exampleModal"
  (click)="execute()">
  Editar
</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Anuncio de Texto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form class="mb-3" [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-control">
              <label>Texto del Anuncio</label>
              <textarea formControlName="text" class="form-control" role="15"></textarea>
          </div>
              <button style="margin: 1%;" [disabled]="form.invalid" class="btn btn-primary">Guardar Cambios</button>
          </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>