<div class="">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a routerLink="/editor-home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Editor</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/editor-home" class="nav-link" routerLinkActive="active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/editor-profile" routerLinkActive="active"  class="nav-link" aria-current="page" >Perfil</a></li>
            <li class="nav-item"><a routerLink="/editor-business" routerLinkActive="active" class="nav-link" aria-current="page" >Tienda</a></li>
            <li class="nav-item"><a routerLink="/editor-post" routerLinkActive="active" class="nav-link" aria-current="page">Publicar</a></li>

            <li class="nav-item dropdown"  >
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  Reportes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/editor-payment-report" >Reporte de Pagos</a></li>
                  <li><a class="dropdown-item" routerLink="/editor-favorite-magazine-report">Revistas Favoritas</a></li>
                  <li><a class="dropdown-item" routerLink="/editor-subscription-report">Suscripciones</a></li>
                  <li><a class="dropdown-item" routerLink="/editor-comment-report">Comentarios</a></li>
                </ul>
            </li>


            <li class="nav-item"><a routerLink="#" class="nav-link" routerLinkActive="active" class="nav-link" aria-current="page">Cerrar Sesion</a></li>
        </ul>
    </header>
  </div>